.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: black;
}

.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: black;
    
}

h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: whitesmoke;
    
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.home {
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    display: inline-flex; /* Cambiar a inline-flex para que el botón ocupe solo el ancho necesario */
    text-decoration: none;
    background-color: rgb(94, 91, 91);
    border-radius: 15px;
    color: white;
    padding: 15px;
    border: 2px solid white; /* Agregar borde blanco */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
    cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
}

.home:hover {
    background-color: rgb(76, 73, 73); /* Cambiar el color de fondo al pasar el cursor por encima */
}
